.column {
  width: 27%;
}

.text {
  color: black;
  font-family: 'Jeacq';
  font-size: 3rem;
  text-decoration: none;
}

.rowText {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  justify-content: space-between;
}

.left {
  font-weight: bold;
  text-align: left;
}

.center {
  font-style: italic;
  text-align: center;
}

.right {
  text-align: right;
}

.mediumDivider {
  border: solid 1.5px black;
}