.thinShadow {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.label {
  font-size: 14px;
}

.rightArrow {
  font-size: 14px;
}

.content {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 1rem;
  margin-left: 42.5px;
  padding: 6px 0px;
  position: relative;
  transition: padding 1s, background-color 2s, transform 2s;
  width: 238px;
  
  > div {
    display: none;
  }

  &:hover {
    background-color: black;
    padding-left: 24px;
    >div {
      display: flex;
    }
  }
}

.subContent {
  background-color: white;
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  flex-direction: column;
  left: 100%;
  padding: 8px 16px;
  position: absolute;
  width: 250px;
  z-index: 10000;
}