.contentComponent {
  
}

.multiContent {
  padding: 6px 0px;
  width: 238px;
  margin-left: 42.5px;
  color: white;
  transition: padding 1s, background-color 2s, transform 2s;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1rem;
  
  >a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
    transition: margin-left 1s;
  }

  &:hover {
    >a {
      margin-left: 10px;
    }
  }

  >a:first-child {
    margin-left:0px;
    &:hover {
      margin-left: 0px;
    }
  }

}
.primary {
  font-size: 16px;
}

.secondary {
  font-size: 10px;
}