.divider {
  width: 259px;
  margin-left: 53px;
  left:0px;
  color:gray;
  border-top-width: 1px;
  border-bottom-width: 0px;
}

.fullBreak {
  border-bottom: 0px;
  width: 100%;
}

.closed {
  left: -325px;
}

.open {
  left: 0px;
}

.tableOfContentsComponent {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 325px;
  overflow: visible;
  padding: 12px 0px;
  position: fixed;
  top: 60px;
  z-index: 10000;
}
