.appBody {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 4vw;
  position: absolute;
  text-align: center;
  top: 68px;
  width: 92vw;
}

.tableOfContents {
  left: 341px;
}
