.author {
  &:before {content: 'By: '}
  font-size: 0.74rem;
  color: gray;
  text-transform: capitalize;
  font-weight: 800;
}

.title {
  color: #000000;
  font-family: serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
}

.teaser {
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: 12px;
  border-bottom: solid 1px #000000;
}